body {
    padding: 0;
    margin: 0;
    background-color: #1c1c1c;
    color: white;
}

/* ===========================
   NAVBAR
=========================== */

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 30px;
    background:#df0808;
    border:3px solid #d7082a;
    font-family:"Poppins", sans-serif;
}

.nav-esquerda,
.nav-centro,
.nav-direita{
    flex:1;
    display:flex;
    align-items:center;
}

.nav-esquerda{
    justify-content:flex-start;
}

.nav-centro{
    justify-content:center;
}

.nav-direita{
    justify-content:flex-end;
}

/* Logo */

.nome-logo-roblox{
    display:flex;
    align-items:center;
    gap:0;
    color:#fff;
    text-decoration:none;
    font-size:28px;
    font-weight:900;
}

.roblox-icon{
    width:36px;
    height:36px;
}

/* Pesquisa */

.roblox-search{
    display:flex;
    align-items:center;
    width:500px;
    max-width:100%;
    height:40px;
    background:#e9e5e5;
    border-radius:50px;
    overflow:hidden;
}

.roblox-search input{
    flex:1;
    border:none;
    outline:none;
    padding:0 15px;
    font-size:14px;
    background:transparent;
}

.roblox-search button{
    width:50px;
    height:100%;
    border:none;
    background:#b6b6b6;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.roblox-search button i{
    color:#333;
}

/* Menu */

.lista-navbar-roblox{
    display:flex;
    align-items:center;
    gap:30px;
    margin:0;
    padding:0;
    list-style:none;
}

.navbar-underline{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    transition:.2s;
}

.navbar-underline:hover{
    color:#f0f0f0;
}
    

/*
    Banner de promoção
*/

.promo-banner {
    background: rgb(183, 16, 7);
    color: white;
    padding: 12px 0;
    text-align: center;
    font-weight: bold;
}

/*

.banner {
    background: url('https://tr.rbxcdn.com/68b0e874e69a3759897acc0a2e9f83a8/768/432/Image/Webp') center/cover no-repeat;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    background-color: rgba(0,0,0,0.6);
    padding: 25px 50px;
    border-radius: 10px;
}

.card {
    background-color: #262626;
    border-radius: 10px;
}

.card-title {
    font-weight: 900;
}

footer.page-footer {
    background-color: #ff3333;
}

footer a {
    color: #c2c2c2;
}

footer a:hover {
    color: #ff3333;
}





.robux-price {
    color: #00ff73;
    font-weight: bold;
    font-size: 18px;
}

.roblox-search button i {
    color: rgb(43, 43, 43);
}

.card-image img {
    border-radius: 10px 10px 0 0;
}
*/